<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="@(Url.Content("~/css/cadastroProduto.css"))">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

    <!-- Script personalizado (corrigido para ambiente ASP.NET, se aplicável) -->
    <script src="@(Url.Content("~/js/produtoML.js"))"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="display-4 text-center">@ViewBag.NomeAplicacao</h1>
        <br />
        <h2>CADASTRO DE ANÚNCIOS</h2>

        <h2>INFORMAÇÕES BÁSICAS</h2>

        <p>Título:</p>
        <input id="txtLogin" type="text" name="login" placeholder="Insira o título do anúncio" class="form-control" />

        <p>Categoria:</p>
        <select id="ddlCategoria" name="ddlCategoria" class="form-control">
            <option readonly>Selecione uma categoria</option>
            <option>Chave de Seta</option>
            <option>Freio ABS</option>
        </select>

        <p>Preço:</p>
        <input id="txtPreco" type="text" name="txtPreco" placeholder="Insira o preço do produto" class="form-control" />

        <p>Moeda:</p>
        <select id="ddlMoeda" name="ddlMoeda" class="form-control">
            <option readonly>Selecione uma moeda</option>
            <option>Real (R$)</option>
            <option>Dólar (US$)</option>
        </select>

        <p>Quantidade disponível:</p>
        <input id="txtQtdDisponivel" type="text" name="txtQtdDisponivel" placeholder="Insira o ID da aplicação" class="form-control" />

        <p>Modo de Compra:</p>
        <select id="ddlMoeda" name="ddlMoeda" class="form-control">
            <option readonly>Selecione um modo de compra</option>
            <option>Compre agora</option>
        </select>

        <p>Condição:</p>
        <select id="ddlMoeda" name="ddlMoeda" class="form-control">
            <option readonly>Selecione um modo de compra</option>
            <option>Novo</option>
            <option>Usado</option>
        </select>

        <p>Tipo Listagem:</p>
        <select id="ddlTipoListagem" name="ddlTipoListagem" class="form-control">
            <option readonly>Selecione um tipo de listagem</option>
            <option>Gold Special</option>
        </select>

        <h2>TERMOS DE VENDAS</h2>

        <p>Id:</p>
        <select id="ddlIdTermoVenda" name="ddlIdTermoVenda" class="form-control">
            <option readonly>Selecione um tipo de termo de venda</option>
            <option>WARRANTY TYPE</option>
            <option>WARRANTY TIME</option>
        </select>

        <p>Nome Valor:</p>
        <input id="txtNomeValorTermoVenda" type="text" name="txtNomeValorTermoVenda" placeholder="Insira o nome valor do termo de venda" class="form-control" />

        <button type="button" class="btn btn-primary">Adicionar Termo de Venda</button>

        <h2>FOTOS</h2>

        <p>Fonte:</p>
        <input id="txtNomeValorTermoVenda" type="text" name="txtNomeValorTermoVenda" placeholder="Insira o nome valor do termo de venda" class="form-control" />
        <button type="button" class="btn btn-primary">Adicionar fonte</button>

        <h2>ATRIBUTOS</h2>

        <p>Id:</p>
        <select id="ddlIdAtrbutos" name="ddlIdTermoVenda" class="form-control">
            <option readonly>Selecione um tipo de termo de venda</option>
            <option>BRAND</option>
            <option>EAN</option>
        </select>

        <p>Nome Valor:</p>
        <input id="txtNomeValorAtributos" type="text" name="txtNomeValorTermoVenda" placeholder="Insira o nome valor do termo de venda" class="form-control" />

        <button type="button" class="btn btn-primary">Adicionar atributos</button>
    </div>
</body>
</html>
